@tailwind base;
@tailwind components;
@tailwind utilities;
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* sideBar */
/* Styling for the navbar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
  color: white;
  height: 100%;
  width: 260px;
  z-index: 100;
  transition: all 0.5s ease;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  background: white;
}

.logo-details {
  margin-bottom: 2rem;
}
/* home section */
.home-section {
  position: relative;
  background: #f3f3f3;
  height: 100vh;
  overflow-y: scroll;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.nav-links {
  list-style: none;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-link a {
  pointer: cursor;
  display: flex;
  align-items: center;
  color: #da4040;
  text-decoration: none;
  padding: 1rem 1rem;
  width: 100%;
  transition: all 0.4s ease;

  font-size: 1.2rem;
  font-weight: 400;
}
.nav-link a span {
  margin-left: 0.75rem;
}

.nav-link a:hover {
  background: #ef2f1d;
  color: #fff;
}
.logout-link a:hover {
  color: #ff0031;
  background: black;
}

.active-link,
.active-link a {
  color: #ff0031;
  background: #ef2f1d;
  color: #fff;
}

//++-----------dashboard
.cards-section {
  margin-bottom: 4rem;
}

.cards {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.cards {
  display: flex;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 290px;
  height: 110px;
  margin: 0px 10px;
  position: relative;
}

.card-header {
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

.card-header-name {
  margin: 0px;
  font-size: 1.25rem;
  font-weight: 500;
}

.card-body {
  padding: 10px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.card-body-text {
  margin: 0px;
}
.card-icon {
  color: #f22f1d;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.section-header button {
  background-color: #ff0031;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  border-radius: 0.75rem;
  transition: all 0.3s ease-in-out;
}

.section-header button:hover {
  background-color: #da4040;
}
.orders-header {
  font-size: 1.5rem;
  margin-top: 0rem;
}
.red-background {
  color: #fef2e5;
}
