@tailwind base;
@tailwind components;
@tailwind utilities;
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* sideBar */
/* Styling for the navbar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
  color: white;
  height: 100%;
  width: 260px;
  z-index: 100;
  transition: all 0.5s ease;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  background: white;
}

.logo-details {
  margin-bottom: 2rem;
}
/* home section */
.home-section {
  position: relative;
  background: #f3f3f3;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.nav-links {
  list-style: none;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-link a {
  pointer: cursor;
  display: flex;
  align-items: center;
  color: #da4040;
  text-decoration: none;
  padding: 1rem 1rem;
  width: 100%;
  transition: all 0.4s ease;

  font-size: 1.2rem;
  font-weight: 400;
}
.nav-link a span {
  margin-left: 0.75rem;
}

.nav-link a:hover {
  background: #ff0031;
  color: #fff;
}
.logout-link a:hover {
  color: #ff0031;
  background: black;
}
.active-link,
.active-link a {
  color: #ff0031;
  background: #da4040;
  color: #fff;
}
@media (max-width: 640px) {
  .sidebar {
    position: relative;
    left: 0;
    width: 100%;
  }

  .sidebar .nav-link a {
    justify-content: center;
    margin-bottom: 2rem;
  }
  .nav-link a:hover {
    background: white;
    color: red;
  }
  .active-link a,
  .active-link {
    background: white;
    color: red;
  }
  .home-section,
  .top-bar {
    display: none;
  }
  .go-left {
    left: -100%;
  }
}
