.cards-section {
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 290px;
  height: 110px;
  margin: 0px 10px;
  position: relative;
}

.card-header {
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

.card-header-name {
  margin: 0px;
  font-size: 1.25rem;
  font-weight: 500;
}

.card-body {
  padding: 10px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.card-body-text {
  margin: 0px;
}
.card-icon {
  color: #f22f1d;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header h1 {
  font-size: 1.875rem;
  margin-bottom: 2rem;
}

.section-header button {
  background-color: #ff0031;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  border-radius: 0.75rem;
  transition: all 0.3s ease-in-out;
}

.section-header button:hover {
  background-color: #da4040;
}
.orders-header {
  font-size: 1.5rem;
  margin-top: 0rem;
}
.red-background {
  color: #fef2e5;
}
